*{
  margin: 0;
  padding: 0;
  font-family: "Roboto", "sans-serif";
  color: white;
}

p, span{
  font-size: 1rem;
}

body, .container{
  background-color: #202020;
  width: 100vw;
  height: 100vh;
}


#video{
  width: calc(100vw - 50vh);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-right-sidebar{
  top: 0;
  right: 0;
  position: fixed;
  display: inline-block;
  width: 50vh;
  height: 100vh;
}

.nav-right-sidebar .item-bar{
  padding: 15vh 20% 10vh 20%;
  width: 60%;
  height: 25vh;
}

.nav-right-sidebar .item-bar p{
  text-transform: uppercase;
}
.nav-right-sidebar .item-bar .item-bar-container{
  padding: 10px 0;
}

.nav-right-sidebar .item-bar .item-bar-title{
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.1rem;
  margin-bottom: 5px;
}

#about-item{
  background-color: #502ca7;
}

#register-item{
  background-color: #6639b6;
}

#about-item .item-bar-container{
  border-top: 1.5px solid rgba(0, 0, 0, 0.4);
}

#register-item .item-bar-container{
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.4);
}
