*{
  margin: 0;
  padding: 0;
  font-family: roboto;
  color: #F3F3F3 !important;
}

span, p, li, a{
  font-size: 1rem;
}

body, .content, .content > *{
  height: 100vh;
  display: inline-flex;
}

.menu{
  width:89px;
}

.menu *{
  clear: both;
  display: block;
}

.menu img{
  width:89px;
  height:89px;
}

.menu span, .menu a{
  margin-left: -89px;
  margin-top: 100px;
  width:89px;
  text-align: center;
}

.menu a{
  margin-top: 120px;
  color: #c7c72b !important;
  text-decoration: underline;
}

.app{
  background-color: #131313;
  min-width: 400px;
  width: calc(50vw - 160px);
  height: calc(100vh);
  padding: 15px 0;
  overflow-y: scroll;
}

.map{
  width: calc(50vw + 71px);
}

.nav{
  height: auto !important;
}

.nav ul{
  list-style: none;
  margin-left: 0 !important;
}

.nav ul li{
  display: inline-block !important;
  padding: 0 !important;
}

.nav ul li a{
  color: white;
}

.feed-options ul li{
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-right: 20px;
  text-align: center;
}

.feed-options ul li.selected{
  /*border-bottom: 2px solid #673AB7;*/
  border-bottom: 2px solid rgb(38, 166, 154);
}

textarea{
  max-height: 250px;
}

.paneltab{
  display: none;
}

.paneltab.active{
  display: block;
}

#publicar-button{
  margin-left: 10px;
}
